<!DOCTYPE html>
<html>
<head>
	<title>Activity</title>
	<meta charset="utf-8">
    {% load static %}
	<script type="text/javascript" src="{% static 'brython.js' %}" ></script>
    <script type="text/python" src="{% static 'index.py' %}"></script>
</head>

<body onload="brython(1)">
   {% if not request.user.is_authenticated %}
        <li class='pull-right'><a href='{% url "register" %}'>Register</a></li>
        <li class='pull-right'><a href='{% url "login" %}'>Login</a></li>
        {% else %}
        <li class='pull-right'><a href='{% url "logout" %}'>Logout</a></li>
        {% endif %}
<div style="text-align: center;">
	{% load static %}
    <img src="{% static 'marvel.png' %}" alt="Marvel">

	<hr>
</div>
<div>
	<fieldset style="height: 270px;width: 25%;float: left;">
		<legend>Navigate</legend>
		<a href="#" id="users">Users</a><br>
		<a href="#" id="active">Activity</a>
		<ul>
			<li>
				<a href="#" id="all">All users</a>
			</li>
			<li>Search by User : <br><br>
				<input type="text" id="search">
				<h6 id="inv">&nbsp;</h6>
				<button type="button" id="sbtn">SEARCH</button>
			</li>
	</fieldset>
	<fieldset style="width: 65%;float: right;">
		<legend id="legend">WELCOME ADMIN</legend>
		<h5 id="msg">Use Navigation Panel to view Tables.</h5>
		<table id="table" border="1"></table>
	</fieldset>
</div>
</body>
</html>